/*
@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);
*/
body{
    font-size:14px;
    letter-spacing :0.5px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Hiragino Sans GB","Microsoft YaHei","WenQianYi Micro Hei",sans-serif;
    color:#000000;
    background-color:#e6e6e6;
    line-height: 24px;
    /*text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6), 0px 1px 0px rgba(255, 255, 255, 0.6);*/
}

*{
    padding:0;
    margin: 0;
    border:none;
    outline:none;
    /*text-rendering: optimizeLegibility;*/
}

time {
    font-family:"Galdeano";
}

/*链接颜色*/
a{
    color:#333333;
    text-decoration:none;
}

a:hover {
    color:#333333;
    text-decoration:underline;
}

/*水平线*/
hr {
    margin:.7em 0;
    border-top:1px dashed #d0d0d0;
    border-bottom:1px dashed #f9f9f9;
}

/*段落*/
p {
    padding:.5em 0;
    line-height: 150%;
}


li{
    padding:.2em 0;
}

ol,ul{
    list-style-position:inside;
}

ol ul, ul ol, ul ul, ol ol {
    margin-left:1em;
}

/*代码块*/
pre,code{
    font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;
    font-size:13px;
    
}

pre code{
    margin:1em 0;
    font-size:13px;
    line-height:1.4;
    display:block;
    overflow:auto;
}

code{
    background-color: rgb(247, 247, 247) ;
    border: 1px solid rgb(204, 204, 204);
    padding: 2px 2px 2px 2px;
    border-radius: 3px 3px 3px 3px;
}


/*引用块
blockquote{
    display:block;
    text-align:justify;
    border-left:4px solid #eeeeee;
    margin:1em 0em;
    padding-left:1.5em;
}

blockquote p{
    margin:0;
    padding:.5em 0;
}
*/


blockquote{
    color:#2b2b2b; 
    /*background: #F0F0F0; */
    background:url(images/patt.png) repeat;
    margin:10px 20px;
    padding:8px 16px;
    border:1px solid  #CCC;
    border-radius:5px;
    -webkit-border-radius:5px;-moz-border-radius:5px;
}  


#container{
    width:620px;
    margin:2em auto;
    display:block;
    padding:0 2em;
    background-color:#ffffff;
    box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
}

/* 页面内容*/
.content{
    /*font-size:14px;*/
    /*line-height:24px;*/
}

.content h1{
    padding:.5em 0;
}

.content img{
    max-width:600px;
    display:block;
    margin:4px auto;
    -webkit-box-shadow:#999 1px 1px 4px;
    -moz-box-shadow:#999 1px 1px 4px;
    box-shadow:#999 1px 1px 4px;
}

/*******************文章列表***************/
.listing-item,.listing-seperator{
    list-style-type:none;
}

.listing-item a{
    padding:.2em 1em;

}

.listing-item time{
    color:#999999;
}

.listing-seperator{
    font-weight:bold;
}

.meta{
    text-align:right;
    /*font-size:12px;*/
    font-size:0.8em;
}

/****************页面导航（上一页，下一页）*************/
.pageNav{
    font-weight:bold;
    /*font-size:17px;*/
    font-size:1.4em;
}

.pageNavInvalid{
    font-weight:bold;
    /*font-size:17px;*/
    font-size:1.4em;
    color:#D0D0D0;
}

/*网站标题*/
header{
    padding:.5em 0;
    border-bottom: 1px solid #cccccc;
}

/**************导航条-HOME ABOUT ...***************/
nav{
    /*font-family:"Electrolize",sans-serif;*/
    font-size:1.1em;
    text-transform:uppercase;
    float:left;
    margin-left:-12em;
    width:9em;
    text-align:right;
}

nav a{
    display:block;
    padding:.7em 1em;
    color:#000000;
}

nav a:hover{
    background-color:#83BF73;
    text-decoration:none;
    color:#f9f9f9;
    -webkit-transition:color .2s linear;
}


.post{
    padding:.5em 0em;
}

/****************标题-h1 h2 h3...*************/
h1{
    font-family:"Gentium Book Basic","Galdeano","Hiragino Sans GB","Microsoft YaHei",serif;
    font-size:1.6em;
    color:#000;
    line-height: 150%;
    text-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 2px rgba(170, 170, 170, 0.8);
    margin: 30px 0px 15px 0px;
}

h2{
    font-family:"Gentium Book Basic","Galdeano","Hiragino Sans GB","Microsoft YaHei",serif;
    font-size:1.4em;
    color:#111;
    line-height: 150%;
    text-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 2px rgba(170, 170, 170, 0.8);
    margin: 30px 0px 15px 0px;
}

h3{
    font-family:"Gentium Book Basic","Galdeano","Hiragino Sans GB","Microsoft YaHei",serif;
    font-size:1.2em;
    color:#222;
    line-height: 150%;
    text-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 2px rgba(170, 170, 170, 0.8);
    margin: 30px 0px 15px 0px;
}

h4{
    font-family:"Gentium Book Basic","Galdeano","Hiragino Sans GB","Microsoft YaHei",serif;
    font-size:1em;
    color:#333;
    line-height: 150%;
    text-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 2px rgba(170, 170, 170, 0.8);
    margin: 30px 0px 15px 0px;
}

embed,object,iframe{
    display:block;margin:4px auto;
}

.gist{
    /*font-size: 12px;*/
    font-size: 0.6em;
    line-height:1.6;    
}

/*****************页脚*********************/
footer{
    display:block;
    border-top: 1px dashed #CCC;
}

footer small {
    /*font-size: 12px;*/
    font-size: 0.6em;
    color: #999;
}

footer a {
    margin: 1px;
    border: 1px solid rgba(1,1,1,0);
    border-bottom: 1px dashed #BBB;
    color:#999;
    text-decoration: none;
}


/********************分页器******************/
.paginator {
    font: 14px Arial,Helvetica,sans-serif;
    color: #AAA;
    margin: 20px 0;
    line-height: 150%;
    display: block;
}

.paginator a,.paginator span{
    padding: 0 4px;
    margin: 2px;
    text-decoration: none;
}

.paginator .current-page {
    color: white;
    background: #333333;
}

.paginator a:hover{
    color: white;
    background: #83BF73;
}

/*********************文本框*********************/
.textbox {

    border: 1px solid rgb(234, 234, 234);
    margin: 15px 0px;
    padding: 20px 25px 20px 25px;
    width: 450px;
    color: rgb(17, 17, 17);
    background-color: rgb(242, 232, 230);
    line-height: 1.5em;
    font-size: 1.1em;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 10px rgb(136, 136, 136);

}

.textbox h1 {
    text-align: left;
}

/****************表格*************/
table {
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid rgb(170, 170, 170);
}

table th {

    vertical-align: baseline;
    padding: 5px 15px 5px 5px;
    background-color: rgb(213, 213, 213);
    border: 1px solid rgb(170, 170, 170);
    text-align: left;
}

table td {

    vertical-align: text-top;
    padding: 5px 15px 5px 5px;
    background-color: rgb(239, 239, 239);
    border: 1px solid rgb(170, 170, 170);

}