---
layout: default
title: HOME
---
<ul class="listing">
    {% for post in paginator.posts %}
        {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
        {% if year != y %}
            {% assign year = y %}
    <li class="listing-seperator">{{ y }}</li>
    {% endif %}
    <li class="listing-item">
        <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>


<div id="post-pagination" class="paginator">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/"><前页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}"><前页</a>
    {% endif %}
  {% else %}
    <span class="previous disabled"><前页</span>
  {% endif %}

      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="/page{{paginator.next_page}}">后页></a>
  {% else %}
    <span class="next disabled" >后页></span>
  {% endif %}
  (共{{ paginator.total_posts }}篇)
</div>

<!--
<ul>
        {% for post in paginator.posts %}
                <li id="title_list">{{ post.date | date:%Y-%m-%d }} <a href="{{ post.url }}"> {{ post.title }} </a></li>

        {% endfor %}

</ul>

<p id="paginator">
--判断总页数，在总页数大于1的时候生成页码链接
{% if paginator.total_pages > 1 %} 
    
    如果当前页不是第一页，则生成“上一页”按钮
    {% if paginator.previous_page %} 
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
    {% endif %}
    
    生成每一个页面的链接，但是取消当前页的链接
        第一页的链接指向index.html
    {% for page in (1..paginator.total_pages) %}
    
        {% if page == paginator.page %}
            <span class="active">{{ page }}</span>
        {% elsif page == 1 %}
            <a href="{{ '/index.html' | prepend: site.baseurl |replace: '//', '/' }}">{{ page }}</a>
        {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
    
    生成“下一页”按钮    
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
    {% endif %}

{% endif %}
</p>
-->